<!-- **********************Jeeva 11/07/2023 Create html file - separated works accordingly***************************** -->
<section class="container my-5" style="width: 30%;">

  <div class="username my-3">
    <!-- Jeeva 11/07/2023 Create username input tag -->
      <label  class="form-label">Username</label>
      <input type="text" class="form-control" [(ngModel)]="form.username"  aria-label="Username">
  </div>


  <div class="password my-3">
    <!-- Gokul 11/07/2023 created password input tag -->
    <label for="inputPassword5" class="form-label">Password</label>
    <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock">
  </div>

  <div class="confirmPassword">

  </div>
  
  <div class="terms">

  </div>

    <div class="button my-3">
      <!-- <  jaiganesh 11/07/2023 created submit button  -->
     <button type="button" class="btn btn-outline-success">submit</button>
  </div>

</section>
