<!-- **********************Jeeva 11/07/2023 Create html file - separated works accordingly***************************** -->
<section class="container my-5 sect1" style="width: 70%;">
    <!-- <img src="../../favicon.ico"> -->
    <h1><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>Sign Up
        <!--  <span><circle-progress
        [percent]="percent"
        [radius]="20"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [showTitle] = false
        [showUnits] = false
        [showSubtitle] = false
        [animationDuration]="300"
      ></circle-progress></span> -->
    </h1>
    <hr>
    <form #Myform="ngForm">
        
      <div class="username my-3">
        <!-- Jeeva 11/07/2023 Create username input tag -->
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" pattern="[a-zA-Z.]*" minlength="4"
          (change)="percentAdd()" aria-label="Username" required>
      </div>
  
      <div class="email">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" pattern="[a-z0-9]+@[a-z.]*" (change)="checkUnique();percentAdd(); "  [(ngModel)]="form.email" required>
      </div>
  
      <div class="password my-3">
        <!-- Gokul 11/07/2023 created password input tag -->
        <label for="inputPassword5" class="form-label">Password</label>
        <input type="password" id="inputPassword5" name="password" class="form-control" minlength="4"  [(ngModel)]="form.password"
          aria-labelledby="passwordHelpBlock"   (change)="percentAdd()" required>
      </div>
      <!-- {{form.password}} -->
      <div class="confirmPassword my-3">
        <!--   jaiganesh 11/07/2023 created confrim Password tag -->
        <label for="ConfirmPassword5" class="form-label">Confirm Password</label>
        <input type="password" id="ConfirmPassword5" name="confirmPassword" class="form-control"
          [(ngModel)]="form.confirmPassword" minlength="4" (keyup)="check()" (change)="checkPasswordMatch();percentAdd();" aria-labelledby="passwordHelpBlock" required>
      </div>
      <!-- {{form.confirmPassword}} -->
      <div class="terms">
        <!--   jaiganesh 11/07/2023 created checkbox tag -->
        <div class="form-check">
          <input class="form-check-input"  [(ngModel)]="form.tick" name="TandC" (change)="openDialog();percentAdd();" type="checkbox"  id="flexCheckDefault"  required  > 
          <label class="form-check-label" for="flexCheckDefault" >
            Terms and conditions 
          </label>
        </div>
      </div>
  <!-- {{Myform.valid}} -->
      <div class="button my-3">
        <!--  jaiganesh 11/07/2023 created submit button  -->
        <button type="button" *ngIf="Myform.valid && isSame && SameEmail" class="btn btn-success" (click)="createUser()">submit</button>
      </div>
    </form>
    <!-- <mat-progress-bar mode="determinate" [value]="percent"></mat-progress-bar> -->

  </section>
<!-- <router-outlet></router-outlet>


  
  <h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/log-in-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    <li><a routerLink="/sign-up-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
  </ul>
</nav>
  -->
  