.background {
    width: 200%;
    height: 100%;
    border-radius: 20px;
    z-index: -1;
}
.btn{
    margin-left: 80%;
}
.msg{
    top: 10%;
    position: absolute;
    z-index: 3;
    margin-left:25%;
}