<section *ngIf="invalid === 0" class="container my-5 mainsec">
    <mat-tab-group class="container my-5" animationDuration="1000ms" [selectedIndex]="selectTab" dynamicHeight>
      <mat-tab label="LogIn">
      <!-- <p>dsadasdasd</p> -->
      <div class="row">
        <div class="col-6">
          <img src="../assets/4906435.jpg" class="background my-1" alt="">
  
        </div>
        <div class="col-6 my-5">
          <app-log-in (checkEvent)="present($event)"></app-log-in>
          <p style="margin-left: 65%;color: blue;" (click)="selectSignUp()">SignUp Here</p>
        </div>
      </div>
        <!-- <app-log-in (checkEvent)="present($event)"></app-log-in> -->
      </mat-tab>
      <mat-tab label="SignUp">
        <div class="row">
          <div class="col-6">
            <img src="../assets/6906799.jpg" class="background my-1" alt="">
    
          </div>
          <div class="col-6">
            <app-sign-up (dataEvent)="storeData($event)"></app-sign-up>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
  <!-- <ng-toast></ng-toast> -->