.mainsec{
    width: 90%;
    border: 2px solid gray;
    border-radius: 35px;
    /* background-image: linear-gradient(white,rgb(255, 255, 255)); */
    box-shadow: 20px 20px 20px rgb(189, 186, 186);
    /* background-image: url('../assets/lap.png'); */
    /* background-size: cover; */
    filter: blur(0px);

}
.background {
    /* position: absolute; */
    /* left: 0px;
    top: 0px; */
    /* z-index: -1; */
    width: 120%;
    height: 100%;
    /* padding-bottom: ; */
    /* -webkit-filter: blur(5px); Safari 6.0 - 9.0 */
    border-radius: 20px;

    }